@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "GHEA Grapalat";
    src: url("./fonts/GHEAGrapalatReg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GHEA Grapalat";
    src: url("./fonts/GHEAGrapalatBld.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
  

html {
color: #2E3A46;
background-color: #FEF6E5;
scroll-behavior: smooth;
}
body {
margin: 0 auto;

display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: 1fr auto;
grid-template-areas:
    "header header"
    "main nav"
    "footer footer";

hyphens: auto;
overflow-wrap: break-word;
text-rendering: optimizeLegibility;
font-kerning: normal;
font-family: 'GHEA Grapalat', Arial, Times, sans-serif;
}
@media (max-width: 1000px) {
body {
    font-size: 0.9em;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.8em;
}
.menu {
    display: none;
}
}
/* @media print {
html {
    background-color: white;
}
body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3, h4 {
    page-break-after: avoid;
}
} */
p {
margin: 1em 0;
}
a {
color: #1a1a1a;
}
a:visited {
color: #1a1a1a;
}
img {
max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
margin-top: 1.4em;
color: #046193;
}
h5, h6 {
font-size: 1em;
font-style: italic;
margin-bottom: 0em;
}
h6 {
font-weight: normal;
}
ol, ul {
padding-left: 1.7em;
margin-top: 1em;
}
li > ol, li > ul {
margin-top: 0;
}
blockquote {
margin: 1em 0 1em 1.7em;
padding-left: 1em;
border-left: 2px solid #e6e6e6;
color: #606060;
}
code {
font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, 'Lucida Console', monospace;
font-size: 85%;
margin: 0;
hyphens: manual;
}
pre {
margin: 1em 0;
overflow: auto;
}
pre code {
padding: 0;
overflow: visible;
overflow-wrap: normal;
}
.sourceCode {
background-color: transparent;
overflow: visible;
}
hr {
background-color: #c0baae;
border: none;
height: 2px;
margin: 2em 0;
}
table {
margin: 1em 0;
border-collapse: collapse;
width: 100%;
overflow-x: auto;
display: block;
font-variant-numeric: lining-nums tabular-nums;
}
table caption {
margin-bottom: 0.75em;
}
tbody {
margin-top: 0.5em;
border-top: 1px solid #1a1a1a;
border-bottom: 1px solid #1a1a1a;
}
th {
border-top: 1px solid #1a1a1a;
padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
margin-bottom: 4em;
text-align: center;
}
#sticky-nav li {
    list-style-type: armenian;
    line-height: 150%;
    color: #777;
}
#sticky-nav ul {
padding-left: 1/3em;
}
#sticky-nav > ul {
padding-left: 0;
}
#sticky-nav a:not(:hover) {
text-decoration: none;
color: #2E3A46;
}

.header {
    grid-area: header;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #E0B478;
    padding: 10px 20px 10px 20px;
}
.head-nav {
    margin-left: 50px;
}
.head-nav a {
    margin-left: 10px;
    text-decoration: none;
}

.container {
    grid-area: main;
    padding: 20px;
    linebreaks: break-word;
}
.menu {
    grid-area: nav;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 10px;
    min-width: 320px;
    max-width: 320px;
    font-size: 0.9em;
}
.footer {
    grid-area: footer;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #E0B478;
    padding: 10px;
    padding: 10px 20px 10px 20px;
}

#logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #046193;
}
.article-info{
    display: grid;
    grid-template-rows: auto 1fr auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
        "b1 b2 b3 b4";
}
.info-block {
    padding: 5px;
    font-size: 0.8em;
    color: #434c55;;
}
.info-title {
    color: #2E3A46;
    font-weight: bold;
}
.info-block > p {
    margin: 0px;
}
#contr-block {
    margin-top: 50px;
}


code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
width: 0.8em;
margin: 0 0.8em 0.2em -1.6em;
vertical-align: middle;
}

pre.sourceCode {
    padding: 6px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #E0B478;
    font-variant-ligatures: none;
    /* color: #D4D8DF; */
    /* background-color: #323842; */
}
/* CSS for syntax highlighting */
pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
{ counter-reset: source-line 0; }
pre.numberSource code > span
{ position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
{ content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
}
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
{   }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #d19a66; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #d19a66; } /* Attribute */
code span.bn { color: #bd93f9; } /* BaseN */
code span.bu { color: #008000; } /* BuiltIn */
code span.cf { color: #3674a6; font-style: italic; } /* ControlFlow */
code span.ch { color: #98C379; } /* Char */
code span.cn { color: #d19a66; } /* Constant */
code span.co { color: #6272A4; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #398f9a; font-weight: bold;} /* DataType */
code span.dv { color: #d19a66; } /* DecVal */
code span.er { color: #ff5555; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #61AFEF; } /* Function */
code span.im { color: #008000; font-weight: bold; } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #C678DD; font-weight: bold; } /* Keyword */
code span.op { color: #8a92a1; } /* Operator */
code span.ot { color: #f8f8f2; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #98C379; } /* SpecialString */
code span.st { color: #98C379; } /* String */
code span.va { color: #abb2bf; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */